{% extends 'base.html' %}
{% load static %}

{% block banner %}
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">

  <div class="container">
    <div class="row">
      <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
        <h1 data-aos="fade-up">Proffesional Services that your Organizations Needs.</h1>
        <h2 data-aos="fade-up" data-aos-delay="400">We are an Outsourcing comany that specialize in Digital Services
        </h2>
        <div data-aos="fade-up" data-aos-delay="800">
          <a href="#about" class="btn-get-started scrollto">Get Started</a>
        </div>
      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left" data-aos-delay="200">
        <img src="{% static 'img/hero-img.png' %}" class="img-fluid animated" alt="">
      </div>
    </div>
  </div>

</section><!-- End Hero -->
{% endblock %}

{% block content %}

<main id="main">

  <!-- ======= Clients Section ======= -->
  <section id="clients" class="clients clients">
    <div class="container">

      <div class="row">

        <div class="col-lg-2 col-md-4 col-6">
          <img src="{% static 'img/clients/client-1.png' %}" class="img-fluid" alt="" data-aos="zoom-in">
        </div>

        <div class="col-lg-2 col-md-4 col-6">
          <img src="{% static 'img/clients/client-2.png' %}" class="img-fluid" alt="" data-aos="zoom-in"
            data-aos-delay="100">
        </div>

        <div class="col-lg-2 col-md-4 col-6">
          <img src="{% static 'img/clients/client-3.png' %}" class="img-fluid" alt="" data-aos="zoom-in"
            data-aos-delay="200">
        </div>

        <div class="col-lg-2 col-md-4 col-6">
          <img src="{% static 'img/clients/client-4.png' %}" class="img-fluid" alt="" data-aos="zoom-in"
            data-aos-delay="300">
        </div>

        <div class="col-lg-2 col-md-4 col-6">
          <img src="{% static 'img/clients/client-5.png' %}" class="img-fluid" alt="" data-aos="zoom-in"
            data-aos-delay="400">
        </div>

        <div class="col-lg-2 col-md-4 col-6">
          <img src="{% static 'img/clients/client-6.png' %}" class="img-fluid" alt="" data-aos="zoom-in"
            data-aos-delay="500">
        </div>

      </div>

    </div>
  </section><!-- End Clients Section -->

  <!-- ======= About Us Section ======= -->
  <section id="about" class="about">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>About Us</h2>
      </div>

      <div class="row content">
        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="150">
          <!-- <p>
            Random Text here
          </p> -->
          <ul>
           




            <li><i class="ri-check-double-line"></i> We plan, facilitate and execute a 360 degree PR positioning for the client to ignite intrigue, interest and brand awareness</li>
            <li><i class="ri-check-double-line"></i> We engage with the media across all relevant sectors and varying formats from national newspapers to bloggers and influencers</li>
            <li><i class="ri-check-double-line"></i>We develop newsworthy applications that inspire, engage and appeal to clients</li>
            <li><i class="ri-check-double-line"></i>We design and develop high quality logo designs and graphic arts for businesses</li>
          </ul>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-up" data-aos-delay="300">
          We offer various outsourcing services listed below:
          <li><i></i> Translation Services in any Given Language</li>
          <li><i></i> Web, App and Software Devlopment Services</li>
          <li><i></i>High Quality Standards</li>

          <a href="#" class="btn-learn-more">Learn More</a>
        </div>
      </div>

    </div>
  </section><!-- End About Us Section -->

  <!-- ======= Counts Section ======= -->
  <section id="counts" class="counts">
    <div class="container">

      <div class="row">
        <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-xl-start"
          data-aos="fade-right" data-aos-delay="150">
          <img src="assets/img/counts-img.svg" alt="" class="img-fluid">
        </div>

        <div class="col-xl-7 d-flex align-items-stretch pt-4 pt-xl-0" data-aos="fade-left" data-aos-delay="300">
          <div class="content d-flex flex-column justify-content-center">
            <div class="row">
              <div class="col-md-6 d-md-flex align-items-md-stretch">
                <div class="count-box">
                  <i class="bi bi-emoji-smile"></i>
                  <span data-purecounter-start="0" data-purecounter-end="65" data-purecounter-duration="1"
                    class="purecounter"></span>
                  <p><strong>Happy Clients</strong> 99% Satisfaction rate</p>
                </div>
              </div>

              <div class="col-md-6 d-md-flex align-items-md-stretch">
                <div class="count-box">
                  <i class="bi bi-journal-richtext"></i>
                  <span data-purecounter-start="0" data-purecounter-end="85" data-purecounter-duration="1"
                    class="purecounter"></span>
                  <p><strong>Projects</strong> </p>
                </div>
              </div>

              <div class="col-md-6 d-md-flex align-items-md-stretch">
                <div class="count-box">
                  <i class="bi bi-clock"></i>
                  <span data-purecounter-start="0" data-purecounter-end="10" data-purecounter-duration="1"
                    class="purecounter"></span>
                  <p><strong>Years of experience</strong></p>
                </div>
              </div>

              <div class="col-md-6 d-md-flex align-items-md-stretch">
                <div class="count-box">
                  <i class="bi bi-award"></i>
                  <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1"
                    class="purecounter"></span>
                  <p><strong>Awards</strong></p>
                </div>
              </div>
            </div>
          </div><!-- End .content-->
        </div>
      </div>

    </div>
  </section><!-- End Counts Section -->

  <!-- ======= Services Section ======= -->
  <section id="services" class="services">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>Services</h2>
        <p>We Will Provide You With Excellent Translation, Advertising Services</p>
      </div>

      <div class="row">
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="bx bxl-dribbble"></i></div>
            <h4 class="title"><a href="">Send Us Your Scripts</a></h4>
            <p class="description">We will deliver with excellent quality and time</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
            <div class="icon"><i class="bx bx-file"></i></div>
            <h4 class="title"><a href="">Design Websites for your local business</a></h4>
            <p class="description">Send us your requirements and we will develop and mantain your proffesional site</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
            <div class="icon"><i class="bx bx-tachometer"></i></div>
            <h4 class="title"><a href="">Product Testing</a></h4>
            <p class="description">Do you have a product that requires testing? We will test and send feedback in no time</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
            <div class="icon"><i class="bx bx-world"></i></div>
            <h4 class="title"><a href="">Business Management</a></h4>
            <p class="description">We offer business consulting and strategic management</p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Services Section -->
  
  <section id="services" class="services">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>Our Projects</h2>
        <p>We have worked with various clients over the years and these are a few projects we are proud of!</p>
      </div>

      <div class="row">
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="bx bx-file"></i></div>
            <h4 class="title"><a href="">Visually Disabled Assistor</a></h4>
            <p class="description">IOS application to enable visually disabled users locate object around a room</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="bx bx-file"></i></div>
            <h4 class="title"><a href="">Car Rental System</a></h4>
            <p class="description">Car Rental System to a enable users and admins to book and manage cars online</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="ri-gradienter-line"></i></div>
            <h4 class="title"><a href="">Product Testing</a></h4>
            <p class="description">Testing Beta products on a booking website and reporting and suggesting bugs and issues</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="bx bx-file"></i></div>
            <h4 class="title"><a href="">E-commerce Store</a></h4>
            <p class="description">We delivered a fully functional E-commerce store that accepts and delivers orders.</p>
          </div>
        </div>


      </div>

    </div>
  </section>
  


  <!-- ======= Features Section ======= -->
  <!-- <section id="features" class="features">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>Features</h2>
        <p>We developed this website with all the latest technologies available, so YOU, can feel safe and comfortable
          during your stay.</p>
      </div>

      <div class="row" data-aos="fade-up" data-aos-delay="300">
        <div class="col-lg-3 col-md-4">
          <div class="icon-box">
            <i class="ri-store-line" style="color: #ffbb2c;"></i>
            <h3><a href="">Available Everywhere</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
          <div class="icon-box">
            <i class="ri-bar-chart-box-line" style="color: #5578ff;"></i>
            <h3><a href="">World Class Translation Services</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
          <div class="icon-box">
            <i class="ri-calendar-todo-line" style="color: #e80368;"></i>
            <h3><a href="">You Decide Your Schedule</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
          <div class="icon-box">
            <i class="ri-paint-brush-line" style="color: #e361ff;"></i>
            <h3><a href="">Available in 21 Languages</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-database-2-line" style="color: #47aeff;"></i>
            <h3><a href="">World Class Advertising</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-gradienter-line" style="color: #ffa76e;"></i>
            <h3><a href="">Product Testing</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-file-list-3-line" style="color: #11dbcf;"></i>
            <h3><a href="">Web Design and Management</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-price-tag-2-line" style="color: #4233ff;"></i>
            <h3><a href="">Educational Services</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-anchor-line" style="color: #b2904f;"></i>
            <h3><a href="">Fast Delivery</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-disc-line" style="color: #b20969;"></i>
            <h3><a href="">The Sky Is The Limit</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-base-station-line" style="color: #ff5828;"></i>
            <h3><a href="">Browse Localy</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-fingerprint-line" style="color: #29cc61;"></i>
            <h3><a href="">Security is Guaranteed</a></h3>
          </div>
        </div>
      </div>

    </div>
  </section>End Features Section -->


  <!-- ======= Team Section ======= -->
  <!-- <section id="team" class="team section-bg">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>Team</h2>
        <p>Meet The Team Behind This Amazing Work</p>
      </div>

      <div class="row">

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up" data-aos-delay="100">
            <div class="member-img">
              <img
                src="sourcefull/static/img/team/team-1.jpg"
                class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Isah Kreitem</h4>
              <span>Chief Executive Officer</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up" data-aos-delay="200">
            <div class="member-img">
              <img
                src="sourcefull/static/img/team/team-3.jpg"
                class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href="https://www.linkedin.com/in/tamer-algarmakany-708805a1/"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Tamer Algarmakany</h4>
              <span>Lead Developer</span>
            </div>
          </div>
        </div>


        <!-- <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up" data-aos-delay="100">
            <div class="member-img">
              <img
                src="sourcefull/static/img/team/team-2.jpg"
                class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href="https://www.linkedin.com/in/leila-imin-a1554b214/"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Leila Imin</h4>
              <span>CTO</span>
            </div>
          </div>
        </div> -->

        <!-- <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up" data-aos-delay="300">
            <div class="member-img">
              <img
                src="sourcefull/static/img/team/team-4.jpg"
                class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Victoria Krayushkina</h4>
              <span>Product Manager</span>
            </div>
          </div>
        </div> -->

        <!-- <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up" data-aos-delay="400">
            <div class="member-img">
              <img
                src="https://media-exp1.licdn.com/dms/image/C4E03AQF8eX44hCHLWw/profile-displayphoto-shrink_800_800/0/1623401928074?e=1628726400&v=beta&t=HrqaUOpnSBvkuXO82aAs3XUb0cHbqG_nQ-ZcXq2-HlY"
                class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href="https://www.linkedin.com/in/lucille-nawa-7a1456208/"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section>End Team Section -->

  <!-- ======= F.A.Q Section ======= -->
  <section id="faq" class="faq">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>Frequently Asked Questions</h2>
      </div>


      <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
        <div class="col-lg-5">
          <i class="ri-question-line"></i>
          <h4>How much do the services cost?</h4>
        </div>
        <div class="col-lg-7">
          <p>
            Each service has a different quotation price depending on what you request, please write us your questions
            query in the contact us page, and we will provide you with a detailed invoice.
          </p>
        </div>
      </div><!-- End F.A.Q Item-->

      <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
        <div class="col-lg-5">
          <i class="ri-question-line"></i>
          <h4>How long do each services take?</h4>
        </div>
        <div class="col-lg-7">
          <p>
            Tranlation services typically take 1 or 2 days depending on the number of pages.
            Web Design typically takes 1-2 weeks depending on the complexity of the site.
          </p>
        </div>
      </div><!-- End F.A.Q Item-->

      <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
        <div class="col-lg-5">
          <i class="ri-question-line"></i>
          <h4>Can i cancel my service?</h4>
        </div>
        <div class="col-lg-7">
          <p>
            Unfortunately, if you have paid for our service no refunds are possible.
          </p>
        </div>
      </div><!-- End F.A.Q Item-->
<!-- End F.A.Q Item-->

    </div>
  </section><!-- End F.A.Q Section -->

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>Contact Us</h2>
      </div>

      <div class="row">

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
          <div class="contact-about">
            <h3>SourceFull</h3>
            <p>
              An OutSourcing company that focuses on customer satisfaction. 
              We offer various services that can better your Organizations.
              Feel free to message us at any time for any kind of request, we 
              would be happy to respond back to you.
            </p>
            <div class="social-links">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>

            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="200">
          <div class="info">
            <div>
              <i class="ri-map-pin-line"></i>
              <p>Bacho Kiro 5A<br>Dobrich, Bulgaria</p>
            </div>

            <div>
              <i class="ri-mail-send-line"></i>
              <p>info@example.com</p>
            </div>

            <div>
              <i class="ri-phone-line"></i>
              <p>+35900000000</p>
            </div>

          </div>
        </div>

        {% load crispy_forms_tags %}

        <div class="col-lg-5 col-md-12" data-aos="fade-up" data-aos-delay="300">
          <form action="" method="post">
            <div class="form-group">
          {% csrf_token %}
          {{ form | crispy }}
            </div>
          <div class="text-center">
            <button style="  
            background-color: #3896d8;
            border: none;
            color: white;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 16px;" 
            type="submit">Send Message</button></div>
        </form>
      </div>



      </div>

    </div>
  </section><!-- End Contact Section -->

</main><!-- End #main -->

{% endblock %}