{% extends 'base.html' %}
{% load static %}

{% block banner %}
<!-- ======= Hero Section ======= -->

<head>
  <link rel="stylesheet" href="../static/css/pricing.css">
</head>

<script src="https://code.jquery.com/jquery-3.4.1.slim.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.js"></script>

<section id="hero" class="d-flex align-items-center">

  <div class="container">
    <div class="row">
      <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
        <h1 data-aos="fade-up">Web Design</h1>
        <h2 data-aos="fade-up" data-aos-delay="400">We have a team of talented devlopers with over 10 years of experience.
        </h2>
        <p>
            We offer various packages for Software Devlopment. 
            We help in assisting in QA, Front end and Backend Development. 
            We Design and Develop Mobile Applications. 
            
        </p>
        <br>
        <br>
        <h2 style="color: black; margin-bottom: 20px; font-weight: bolder;">You can find our Packages Down Below</h2>
        <p>
          We offer 3 various packages all offering a high quality service for your business. 
          You can contact us for your query regarding the type of site you want built out and we 
          would recommend a package depending on your requirement. 
        </p>

      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left" data-aos-delay="200">
        <img src="{% static 'img/webdesigner.png' %}" class="img-fluid animated" alt="">
      </div>
    </div>    
  </div>








  
  


</section><!-- End Hero -->
{% endblock %}

{% block content %}

<main id="main">

    <div class="container">
    <div class="row">
      

  <h1>Software Development</h1>

  <br>

  <p>
    We take care of all software design and development activities, but also corrective and evolutionary maintenance, consultancy and support for users. All this in agile mode.<br>
    <br>
    We develop and design applications, web and mobile, in Java spring, Javascript (Node), .NET (.NET MVC), Bootstrap, Angular, JQuery, Ionic, Oracle, MongoDB, SQLserver, MySQL and PostgreSQL. We also develop software in outsourcing.

    We work with precision and competence.
    We know the Italian language and the English language well.

    <br>

    <div class="div-block-27 home-section-technologies" style="">
  <img loading="lazy" width="114" id="w-node-c1fa26f5-697e-7512-e07f-6618943ab96e-70448da0" alt="" class="tech-images" src="https://uploads-ssl.webflow.com/6165549f2077e53472448d9f/622618023fd1b38c1fe4afb1_springNew.png">
  <img loading="lazy" width="119" id="w-node-_8ac11392-ba2e-1781-f46f-90c6c037bc15-70448da0" alt="" class="tech-images" src="https://uploads-ssl.webflow.com/6165549f2077e53472448d9f/6226180dc6071182b91e5233_nodeJSNew.png">
  <img loading="lazy" width="119" id="w-node-a773d60f-0bef-3996-c924-87aff1aadf05-70448da0" alt="" class="tech-images" src="https://uploads-ssl.webflow.com/6165549f2077e53472448d9f/6226184e88e56131e4021834_microsoftNew.png">
  <img loading="lazy" width="119" id="w-node-f5efe71b-a111-c141-7b73-47266a1bdb4b-70448da0" alt="" class="tech-images" src="https://uploads-ssl.webflow.com/6165549f2077e53472448d9f/622617d135afd40b91f82cd7_angularjsNew.png">
  <img loading="lazy" width="119" id="w-node-f6a0324b-82fa-aefe-a376-a129f3b03a0f-70448da0" alt="" class="tech-images" src="https://uploads-ssl.webflow.com/6165549f2077e53472448d9f/622618bf35afd4f101f83299_jQueryNew.png">
  <img loading="lazy" width="119" id="w-node-_75666c56-3bfd-90aa-e201-8ec9140b071e-70448da0" alt="" class="tech-images" src="https://uploads-ssl.webflow.com/6165549f2077e53472448d9f/622618f67bb4dfa3441e9502_ionicNew.png">
  <img loading="lazy" width="119" id="w-node-_392e5db2-1e87-5a20-ef2d-dfdb46b831c1-70448da0" alt="" class="tech-images" src="https://uploads-ssl.webflow.com/6165549f2077e53472448d9f/622619001f52b427e3aa9b70_oracleNew.png">
  <img loading="lazy" width="119" id="w-node-d9a77d89-a6df-6239-0f5c-d646e71d3389-70448da0" alt="" class="tech-images" src="https://uploads-ssl.webflow.com/6165549f2077e53472448d9f/6226190bd95f62d45c4cf3e4_mongoDBNew.png">
  <img loading="lazy" width="119" id="w-node-af63be11-7b8f-6cc2-202b-7ed831da3471-70448da0" alt="" class="tech-images" src="https://uploads-ssl.webflow.com/6165549f2077e53472448d9f/622619130cb3bb0b905746f3_sqlServerNew.png">
  <img loading="lazy" width="119" id="w-node-_37dc2efe-c6fe-941f-6308-1d1cbc458866-70448da0" alt="" class="tech-images" src="https://uploads-ssl.webflow.com/6165549f2077e53472448d9f/6226191efc1ee8f7e28e9827_mySqlNew.png">
  <img loading="lazy" width="119" id="w-node-_19e12ba0-8046-c0eb-62c7-5e106e74c1c3-70448da0" alt="" class="tech-images" src="https://uploads-ssl.webflow.com/6165549f2077e53472448d9f/622619263ce19fb87315926d_postgreSQLNew.png">

</div>
  </div>
  </div>
  <br>
  <br>


  <!-- ======= Clients Section ======= -->
  <div class="container">
    <div class="card-deck mb-3 text-center">
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Standard</h4>
        </div>
        <div class="card-body">
          <p>Reference: W-01</p>
          <h1 class="card-title pricing-card-title">Price Upon Request <small class="text-muted"></small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li class="bi bi-check">1 users included</li>
            <li class="bi bi-check">1 GB of storage</li>
            <li class="bi bi-check">Email support</li>
            <li class="bi bi-check">Help center access</li>
            <li class="bi bi-check">Full Web Development Package</li>
            <li class="bi bi-check">Hosting Included 1 GB</li>
            <del><li class="bi bi-check">Domain Name Included</li></del>
            <del><li class="bi bi-check">Quality Assurance Testing</li></del>
            <del><li class="bi bi-check">Logo and Graphic Design</li></del>
            <del><li class="bi bi-check">Marketing</li></del>
          </ul>
          <a href="{% url 'index' %}#contact" class="btn btn-lg btn-block btn-primary">Contact us</a>
        </div>
      </div>
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Pro</h4>
        </div>
        <div class="card-body">
          <p>Reference: W-02</p>
          <h1 class="card-title pricing-card-title">Price Upon Request <small class="text-muted"></small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li class="bi bi-check">20 users included</li>
            <li class="bi bi-check">10 GB of storage</li>
            <li class="bi bi-check">Priority email support</li>
            <li class="bi bi-check">Help center access</li>
            <li class="bi bi-check">Full Web Development Package</li>
            <li class="bi bi-check">Hosting Included 10 GB</li>
            <li class="bi bi-check">Domain Name Included</li>
            <del><li class="bi bi-check">Quality Assurance Testing</li></del>
            <del><li class="bi bi-check">Logo and Graphic Design</li></del>
            <del><li class="bi bi-check">Marketing</li></del>
          </ul>
          <a href="{% url 'index' %}#contact" class="btn btn-lg btn-block btn-primary">Contact us</a>
        </div>
      </div>
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Enterprise</h4>
        </div>
        <div class="card-body">
          <p>Reference: W-03</p>
          <h1 class="card-title pricing-card-title">Price Upon Request <small class="text-muted"></small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li class="bi bi-check">Unlimited users included</li>
            <li class="bi bi-check">50 GB of storage</li>
            <li class="bi bi-check">Phone and email support</li>
            <li class="bi bi-check">Help center access</li>
            <li class="bi bi-check">Full Web Development Package</li>
            <li class="bi bi-check">Hosting Included 50 GB</li>
            <li class="bi bi-check">Domain Name Included</li>
            <li class="bi bi-check">Quality Assurance Testing</li>
            <li class="bi bi-check">Logo and Graphic Design</li>
            <li class="bi bi-check">Marketing</li>
          </ul>
          <a href="{% url 'index' %}#contact" class="btn btn-lg btn-block btn-primary">Contact us</a>
        </div>
      </div>
    </div>
  </div>

    
</main><!-- End #main -->



{% endblock %}